<%- include("./partials/header"); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" autocomplete="off" required><br>
        <label for="post" class="form-label">Post</label>
        <textarea class="form-control" id="post" name="content" cols="130" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary" name="button">Publish</button>
</form>
<%- include("./partials/footer"); -%>
